@import "tailwindcss";

@theme {
  --font-playfair: var(--font-playfair);
  --font-jost: var(--font-jost);
  --font-dm-mono: var(--font-dm-mono);
}

/* Invisible custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Utilities for the scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.05);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}
